<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2883.1552" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2883.1552" targetFramework="net452" />
  <package id="CefSharp.Common" version="55.0.0" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="55.0.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.3.0.823" targetFramework="net452" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.10" targetFramework="net452" />
  <package id="MaterialIcons" version="1.0.3" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.104.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.104.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.104.0" targetFramework="net452" />
</packages>